<section class="container">
  <h3 class="post-name">{{post.title}}</h3>
  <h4>Description: {{post.description}}</h4>
  <!-- If the user is logged in, render the gallery content -->
  {{#if logged_in}}
  <section class="flex-row justify-center">
    <ul>
    {{#each post.comments as |comment|}}
<li>{{comment.description}}<li>
    {{/each}}
    </ul>
  </section>
  <textarea id="textArea">

  </textarea>
  <button data-id="{{post.id}}" id="addComment">Add comment</button>
   <script src="/js/comment.js"></script>
  <!-- Otherwise, provide a link to login -->
  {{else}}
 
  <a href="/login">You must login first to view this page</a>
  {{/if}}

</section>